.gradient{
    /* background-image: linear-gradient(10deg,#f6f6f6 0%, #e4e4e4 60%, #dadada 100%), linear-gradient(-30deg,#f6f6f6 0%, #e4e4e4 60%, #dadada 100%); */
    background-image: linear-gradient(10deg,#f6f6f688 0%, #e4e4e488 60%, #dadada88 100%), linear-gradient(-30deg,#f6f6f688 0%, #e4e4e488 60%, #dadada88 100%);
    background-size: 400% 400%;
      /* animation: gradient-animation 3s ease alternate infinite; */
      height: 100vh;
  
  }
  
  @keyframes gradient-animation {
      0%{
      background-position: 0% 100%;
    }
    100%{
      background-position: 100% 0%;
    }
  }
  
  .shine-gradient {
    background-image: linear-gradient(to top right, transparent 0%, transparent 48%, white 51%, white 51.5%, transparent 54.5%, transparent 100%);
    background-size: 150% 300%;
    background-repeat: no-repeat;
    background-position: center -25%;
    /* animation: shine-gradient-animation 2s infinite; */
  }
  
  @keyframes shine-gradient-animation {
      0% {
      background-position: center -40%;
    }
    100% {
      background-position: center 130%;
    }
  }
  
  .texture {
    /* background-image: repeating-linear-gradient(to right, #f6f6f6 2px, #e4e4e4 4px, #999 6px), repeating-linear-gradient(to right, #f6f6f6 2px, #e4e4e4 4px, #999 6px); */
    /* background-image: repeating-linear-gradient(transparent 3px, transparent 6px, #999 6px, #999 9px, transparent 9px, transparent 12px, #bdbdbd 12px, #bdbdbd 15px, transparent 15px, transparent 18px, #555 18px, #555 21px),
                      repeating-linear-gradient(0.25turn, transparent 3px, transparent 6px, #eee 6px, #eee 9px, transparent 9px, transparent 12px, #a6a6a6 12px, #a6a6a6 15px); */
                      /* repeating-linear-gradient(0.25turn, transparent 2px, #999 4px); */
  
  background-image: 
      repeating-linear-gradient(
          45deg, 
          rgba(153, 153, 153, 0.4) 0px, 
          rgba(153, 153, 153, 0.4) 3px, 
          transparent 3px, 
          transparent 5px,
          rgba(187, 187, 187, 0.5) 5px, 
          rgba(187, 187, 187, 0.5) 8px,
          transparent 8px, 
          transparent 11px,
          rgba(85, 85, 85, 0.3) 11px, 
          rgba(85, 85, 85, 0.3) 15px,
          transparent 15px, 
          transparent 19px
      ),
      repeating-linear-gradient(
          90deg, 
          rgba(204, 204, 204, 0.4) 0px, 
          rgba(204, 204, 204, 0.4) 2px, 
          transparent 2px, 
          transparent 4px,
          rgba(136, 136, 136, 0.3) 4px, 
          rgba(136, 136, 136, 0.3) 6px, 
          transparent 6px, 
          transparent 9px,
          rgba(100, 100, 100, 0.4) 9px, 
          rgba(100, 100, 100, 0.4) 13px, 
          transparent 13px, 
          transparent 18px
      );
  ;
  }
  
  